<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingSettings" closeTimeout="00:02:00" openTimeout="00:02:00" sendTimeout="00:10:00" maxReceivedMessageSize="16777216" maxBufferPoolSize="134217728" messageEncoding="Text">
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
			<service name="DGO.TaskManager" behaviorConfiguration="DGOBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="http://192.168.0.102:8000/DGO/service"/>
					</baseAddresses>
				</host>
				<!-- This endpoint is exposed at the base address provided by http://localhost:8000/ServiceModelSamples/service  -->
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsHttpBindingSettings" contract="DGO.ITaskManager"/>
				<!-- The mex endpoint is exposed at http://localhost:8000/ServiceModelSamples/service/mex -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>

		<!--For debugging purposes, set the includeExceptionDetailInFaults attribute to true.-->
		<behaviors>
			<serviceBehaviors>
				<behavior name="DGOBehavior">
					<serviceMetadata httpGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="True"/>
          <dataContractSerializer maxItemsInObjectGraph="6553600"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<diagnostics wmiProviderEnabled="true">
		</diagnostics>		
	</system.serviceModel>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Warning" propagateActivity="true">
				<listeners>
					<add name="xml"/>
				</listeners>
			</source>
			<source name="myUserTraceSource" switchValue="Warning, ActivityTracing">
				<listeners>
					<add name="xml"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\TEMP\DGO.Traces.svclog"/>
		</sharedListeners>
	</system.diagnostics>	
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
